<% include header.ejs %>
<script src="js/add.js"></script>

<div class="add">
<form action="/add" method="POST">
    <textarea name="entry" type="text" id="entry" rows="10" cols="50" placeholder="Enter quote."></textarea>
    <button type="submit">Send your entry</button>
</form>
</div>
<% include footer.ejs %>